<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.showroom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Showroom"
        android:usesCleartextTraffic="true">
        <activity
            android:name="booking.book_5"
            android:exported="false" />
        <activity
            android:name="booking.book_4"
            android:exported="false" />
        <activity
            android:name="booking.book_3"
            android:exported="false" />
        <activity
            android:name="booking.book_2"
            android:exported="false" />
        <activity
            android:name="booking.book_1"
            android:exported="false" />
        <activity
            android:name="testdrive.fin"
            android:exported="false" />
        <activity
            android:name="testdrive.test_booking"
            android:exported="false" />
        <activity
            android:name="testdrive.details"
            android:exported="false" />
        <activity
            android:name="testdrive.home2"
            android:exported="false" />
        <activity
            android:name="testdrive.testdrive4"
            android:exported="false" />
        <activity
            android:name=".Images"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".cars_main"
            android:exported="true" />
        <activity
            android:name=".pricing"
            android:exported="true" />
        <activity
            android:name=".showroom"
            android:exported="true" />
        <activity
            android:name=".admin8_specification"
            android:exported="true" />
        <activity
            android:name=".admin7_rating"
            android:exported="true" />
        <activity
            android:name=".admin6_booking"
            android:exported="true" />
        <activity
            android:name=".admin5_employee"
            android:exported="true" />
        <activity
            android:name=".admin4_testdrive"
            android:exported="true" />
        <activity
            android:name=".admin2"
            android:exported="true" />
        <activity
            android:name="testdrive.First_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>